- hosts: all
  become: true

  vars:
    telegraf_agent_version: 1.17.0
    telegraf_agent_omit_hostname: True
    telegraf_agent_output:
      - type: influxdb
        config:
          - urls = ["{{ influxdb_url }}"]
          - database = "{{ influxdb_name }}"
          - insecure_skip_verify = true
    telegraf_plugins_default:
      - plugin: cpu
        config:
          - name_prefix = "agent_"
          - percpu = true
          - totalcpu = true
          - collect_cpu_time = false
          - report_active = true
      - plugin: disk
        config:
          - name_prefix = "agent_"
          - ignore_fs = ["tmpfs", "devtmpfs", "overlay", "squashfs", "iso9660"]
      - plugin: diskio
        config:
          - name_prefix = "agent_"
          - skip_serial_number = false
      - plugin: kernel
        config:
          - name_prefix = "agent_"
      - plugin: kernel_vmstat
        config:
          - name_prefix = "agent_"
      - plugin: mem
        config:
          - name_prefix = "agent_"
      - plugin: processes
        config:
          - name_prefix = "agent_"
      - plugin: swap
        config:
          - name_prefix = "agent_"
      - plugin: system
        config:
          - name_prefix = "agent_"
      - plugin: net
        config:
          - name_prefix = "agent_"
      - plugin: netstat
        config:
          - name_prefix = "agent_"
      - plugin: nstat
        config:
          - name_prefix = "agent_"
      - plugin: ntpq
        config:
          - name_prefix = "agent_"
          - dns_lookup = false
      - plugin: internal
        config:
          - name_prefix = "agent_"
          - collect_memstats = false
        
  roles:
    - role: ansible-telegraf
